@model IEnumerable<MVCAlbums.ViewModels.AlbumsView>

<h1 class="m-3">Albums</h1>

@using (Html.BeginForm("Albums", "Home", FormMethod.Get, new { id = "searchForm" }))
{
    @Html.TextBox("searchParam", null, new { @class = "form-control mt-1 mb-4 mr-2", placeholder = "Album or User Name" })
    @Html.Hidden("id", 1)
    @Html.Hidden("isPartial", true)
    <button class="btn btn-success float-left mt-1 mb-4" type="submit">Search</button>
}

<div id="album-list">
    @{ Html.RenderPartial("_AlbumListPartial", Model); }
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close dismiss-modal-data" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Album Photos</h4>
            </div>
            <div id="modal-target" class="modal-body clearfix">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default dismiss-modal-data" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

@section scripts {
    <script>
        (function() {
            "use strict";

            var body = $("body");

            body.on("submit", "#searchForm", function(e) {
                e.preventDefault();


                var form = $("#searchForm");

                $.get(form.attr("action"),
                    form.serialize(),
                    function (resp) {
                        $("#album-list").html(resp);
                    });



                console.log("search the things");

            });


        })();
    </script>
}