<div class="container-fluid">
    <h1 class="m-3">Challenge Requirements / Specifications:</h1>
    
    <div class="container">
        <div class="row">
            <div class="col-sm m-3">
                <p class="lead"><span class="font-weight-bolder">1.</span> Display a paged set of albums with search capabilities on title and the user’s name.</p>
                <p>Albums page should also include the following information:</p>
                <ol>
                    <li>First thumbnail of album</li>
                    <li>Title</li>
                    <li>User’s name</li>
                    <li>User’s email</li>
                    <li>User’s phone</li>
                    <li>User’s Address</li>
                </ol>
                <a href="~/Home/Albums/1" class="btn btn-success">Go to Albums</a>
            </div>
            <div class="col-sm m-3">
                <p class="lead"><span class="font-weight-bolder">2.</span> When clicking on an album title, it will display the thumbnails for the album with the title below it.</p>
            </div>
            <div class="col-sm m-3">
                <p class="lead"><span class="font-weight-bolder">3.</span> When clicking on a user’s name, it will load all details and posts for that user.</p>
            </div>
        </div>
    </div>
</div>