<div class="jumbotron">
    <h1>Code Challenge</h1>
    <p class="lead">Code challenge created by Kristen Merritt, 2019.</p>
</div>

<div class="row">
    <p class="lead">Challenge Requirements / Specifications:</p>
    <div class="col-md-4">
        <h3>Display a paged set of albums with search capabilities on title and the user’s name</h3>
        <ol>
            <li>First thumbnail of album</li>
            <li>Title</li>
            <li>User’s name</li>
            <li>User’s email</li>
            <li>User’s phone</li>
            <li>User’s Address</li>
        </ol>
        <a href="~/Home/Albums/1" class="btn btn-success">Go to Albums</a>
    </div>
    <div class="col-md-4">
        <h3>When clicking on album title it will display the thumbnails for the album with title below it</h3>
    </div>
    <div class="col-md-4">
        <h3>When clicking on the user’s name it will load all details for that user</h3>
        <p>
            Will allow the viewing of their posts as well
        </p>
    </div>
</div>