body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#modal-target .album-photo-container {
    width: 16em;
    height: 17em;
    display: block;
    float: left;
}

    #modal-target .album-photo-container img {
        display: block;
        margin: 0 auto;
        max-width: 150px;
        max-height: 150px;
    }

    #modal-target .album-photo-container p {
        display: block;
        margin: 0 auto;
        width: 15em;
    }

.no-border {
    border: none;
}

table.address-table > tbody > tr > th.no-border,
table.address-table > tbody > tr > td.no-border {
    border: none;
}

.modal-dialog {
    width: 70em;
}